body {
    background:#111;
    color:#afa;
    font-family:Courier, monospace;
    font-size:100%;
}
.post pre, .post code {
    border:none;
    background:#111;
}
a, a:link, a:visited, a:hover, a:active {
    color:#dff;
    text-decoration:none;
}
.container {
    width:50em;
    padding-left:1.0em;
    padding-right:1.0em;
    padding-bottom:1.0ex;
    margin-left:auto;
    margin-right:auto;
    border-left:1px dashed #afa;
    border-right:1px dashed #afa;
}
.line {
    white-space:pre;
    padding-top:0.1ex;
    padding-bottom:0.1ex;
}
.input {
    padding-top:2.5ex;
}
.output {
    margin-left:0.1ex;
}
#go {
    line-height:100%;
    float:right;
    margin-right:16em;
    margin-top:16ex;
    transform:scale(4,2); /* W3C */
    -webkit-transform:scale(4,2); /* Safari and Chrome */
    -moz-transform:scale(4,2); /* Firefox */
    -ms-transform:scale(4,2); /* IE 9 */
    -o-transform:scale(4,2); /* Opera */
}
.post img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
