<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - Glen Oakley</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- OG tags -->
    <meta property="og:title" content="{{ page.title }} - Glen Oakley">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.glenoakley.com{{ page.url }}">
    <meta property="og:image" content="http://www.glenoakley.com/favicon.ico">
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords:50 }}">
    <meta property="og:article:published_time" content="{{ page.date | date_to_string }}">
  </head>
  <body>

    <div class="site">
      <div class="header">
        <h1 class="title">{{ site.name }}</h1>
        <a class="extra" href="/">~/</a>
      </div>

      <h2>{{ page.title }}</h2>
      <p class="meta">{{ page.date | date: "%Y-%m-%d" }}</p>

      <div class="post">
        {{ content }}
      </div>

      <div class="footer">
        <div class="contact">
          <p>
            Glen Oakley<br />
            Computers are Pretty<br />
            goakley123@gmail.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/goakley">github.com/goakley</a><br />
            <a href="https://twitter.com/goakley123">twitter.com/goakley123</a><br />
            <!--<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0xF90E30E276BB6BB8">0xF90E30E276BB6BB8</a>-->
          </p>
        </div>
      </div>
    </div>

  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41253820-1', 'glenoakley.com');
  ga('send', 'pageview');
  </script>
</html>
